@tailwind base;
@tailwind components;
@tailwind utilities;

.logo {
    width: 50px;
    height: 50px;
    object-fit: scale-down;
}

.account {
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: auto;
}

